// option
//
@keyframes setIcon {
  100% {
    transform: rotate(360deg);
  }
}

[data-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &.on i,
  &:hover i,
  &:active i {
    color: color(highlight-color);
  }
  i {
    color: color(default);
    &.fa-24 {
      font-size: 24px;
    }
    &.dot-all {
      color: #3a49d8
    }
    &.dot-now {
      color: #0072ff;
    }
    &.dot-not {
      color: color(border);
    }
  }
}
[data-icon="engine"]{
  display:inline-block;
  font-weight:bold;
  color:color(highlight-color);
  i{
    margin-left:7px;
    color:#409EFF
  }
}

[data-icon="nav"] i {
  color: color(icon-color);
}

[data-icon="set"].spin {
  transform-origin: 50% 50%;
  animation: setIcon 3s linear
}

[data-icon="set"]:hover {
  transform-origin: 50% 50%;
  animation: setIcon 3s linear infinite
}

[data-tooltip-wrap] {
  &:hover {
    [data-tooltip] {
      z-index: 51;
      opacity: 1
    }
    [data-tooltip="group"] {
      transform: translate(11px, 40px) scale(1, 1);
    }
    [data-tooltip="category"] {
      transform: translate(7px, 48px) scale(1, 1);
    }
    [data-tooltip="setup"]{
      transform: translate(-95px, 0) scale(1, 1);
    }
  }
}
[data-tooltip-wrap="setup"]{
  position: absolute;
  top: 25px;
  right: 15px;
}
[data-tooltip] {
  position: absolute;
  z-index: -1;
  min-width: 60px;
  line-height: normal;
  padding: 3px;
  color: #fff;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 3px;
  opacity: 0;
  transform: translateX(5px) scale(0, 0);
  transition: all .3s ease
}
[data-tooltip="setup"]{
  top:0;
  left:0;
  min-width:90px;
  text-align:center;
  transform: translate(-50px, 0) scale(0, 0);
}

// data table
[data-table="header"]{
  display:flex;
  align-items:center;
  justify-content: flex-end;
  margin-bottom:5px;
}
[data-table-option]{
  position:relative;
  display:flex;
  align-items:center;
  .el-button{
    margin-left:5px;
  }
  .el-select{
    //min-width:150px;
    margin-left:5px;
  }
  .el-checkbox-group{
    position:absolute;
    right:0;
    z-index:3;
    margin-top:5px;
    display:flex;
    flex-direction: column;
    padding:10px 15px;
    background-color:#fff;
    border:1px solid color(border);
    border-radius:3px;
  }
  .el-checkbox{
    margin-left:0;
  }
}
[data-table] {
  position:relative;
  background-color: #fff;
  thead {
    color: #fff;
    background-color: color(default);
    border-bottom: 1px solid #d8dce5;
  }
  th,
  td {
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  th {
    height: 36px;
    line-height: 36px;
  }
  td {
    height: 28px;
    line-height: 28px;
  }
  [data-table="total"]{
    position:absolute;
    top:-25px
  }
  [data-tbody="tbody"] {
    position:relative;
    overflow-y: auto;
    &.members {
      height: 355px;
    }
    &.screen{
      min-height:500px;
      max-height:525px;
      border: 1px solid color(border);
      border-top: 0 none;
      [data-none-data="screen"]{
        height:499px;
      }
    }
  }
  [data-none-data]{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  [data-tbody="row"] {
    border-bottom: 1px solid #e6ebf5;
    &:hover{
      background-color: #f5f7fa;
    }
    &.founded{
      background-color: #feffcc;
    }
    &.selected{
      background-color:#97e5a4;
    }
  }
  [data-tboy="hide-row"]{
    >td{
      padding:10px;
      background-color:#e7e7e7
    }
    border-bottom:1px solid #e6ebf5;
  }
  .col-nodeid,
  .col-count,
  .col-score,
  .col-Score{
    width: 70px;
    text-align: center;
  }

  .col-username,
  .col-userdept{
    width: 8%;
  }
  .col-userip,
  .col-userpc{
    width: 105px;
  }
  .col-version{
    width:105px;
  }
  .col-time,
  .col-firstSeenTime,
  .col-lastSeenTime,
  .col-EventTime,
  .col-InsertTime{
    width:165px,;
  }
  .col-RuleId{
    width:11%;
  }
  .col-ProcessName{
    width:20%;
    min-width:100px;
  }
  .col-BusType,
  .col-FileSystem{
    width:70px;
    text-align:center;
  }
  .col-TotalNumberOfBytes,
  .col-FreeBytesAvailable{
    width:80px;
    text-align:center;
  }
  .col-connected,
  .col-moreBtn{
    width:30px;
    padding:0;
    span,
    button{
      display:flex;
      justify-content: center;
      align-items:center;
      width:100%;
      height:100%;
    }
    span{
      visibility: hidden;
      &.icon{
        visibility: visible;
      }
    }
    //display:flex;
    //justify-content: center;
    //align-items:center;
    //width:50px;
  }
  .col-connected{
    &.turn1{
      color :#0072ff;
    }
    &.turn-1{
      color:color(border);
    }
  }
  [data-tbody="column"] {}
}
[data-process-inner]{
  padding: 15px;
  border:1px solid color(default);
  [data-inner-title]{
    margin-bottom: 15px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 18px;
    border-bottom: 2px solid #cc3741;
  }
  [data-not]{
    padding-left:20px;
  }
}
[data-inner-content]{
  margin-bottom:30px;
  h2{
    font-size:16px;
  }
  .sha{
    color:#409EFF;
    cursor:pointer;
  }
}

[data-inner-info]{
  padding-left:20px;
  dl{
    display:flex;
    margin:6px 0;
  }
  dt{
    width:140px;
    min-width:130px;
    font-weight:bold;
  }
  dd{
    flex:1;
    margin:0;
    color:#777;
    word-break:break-all;
    white-space:pre-wrap;
  }
}

// 관리
[data-management] {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

[data-management-item] {
  width: 355px;
  [data-icon] {
    justify-content: flex-start;
    i {
      margin-right: 10px;
      font-size:10px;
    }
  }
  [data-component] {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  [data-component="tree"] {
    height: 630px;
  }
  [data-component="member"] {
    [data-tbody="tbody"] {
      height: 553px;
    }
  }
  [data-component="tree-top"] {
    height: 190px;
  }
  [data-component="member-bottom"] {
    margin-top: 15px;
    [data-tbody="tbody"] {
      height: 348px;
    }
  }
  [data-component="thumbset"]{
    height:564px;
    &.off{
      background-color: color(background-primary);
    }
  }
  [data-drag-group]{
    height:100%;
    overflow-y:auto;
  }
}

[data-btn="confirm"] {
  justify-content: flex-end;
  padding:15px 25px;
  border-top: 1px solid #ccc;
  .md-button {
    color: #fff;
    background-color: #3265A4;
  }
}

// dashboard thumb components
[data-thumbcomp="thumb"] {
  position: relative;
  padding: 5px 5px 40px;
  box-shadow: 0px 2px 5px rgba(25, 25, 25, 0.27);
  margin-bottom: 25px;
  h1 {
    margin-bottom: 10px;
    padding: 7px 0;
    font-size: 18px;
  }
  .dashboard-period-btn {
    margin-bottom: 10px;
  }
  .more-link {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 5px;
    &:hover {
      color: color(highlight-color);
    }
    i{
      margin-left:7px;
    }
  }
  .remove {
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 5px;
  }
}


// search form
[data-search-pannel]{
  position:relative;
  margin-top:35px;
  padding:15px 15px 15px 110px;
  background: url(/src/assets/search-box.jpg) no-repeat 30px center;
  border: 1px solid #ccc;
  form{
    display:flex;
    padding:20px 0 0 30px;
    border-left:1px solid #ccc;
  }
  fieldset{
    position:relative;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner{
    width:165px;
  }
}
[data-form-item]{
  display:flex;
  align-items:center;
  margin-bottom:20px;
  flex-wrap:wrap;
  label{
    width:120px;
    min-width:120px;
    font-size:14px;
    color:#5a5e66;
    padding-right:12px;
  }
}
[data-form-item="multi-line"]{
  align-items:flex-start;
}
[data-multi-item]{
  [data-form-tag]{
    height:30px;
  }
  .multi-label{
    display:inline-block;
    margin-right:30px;
    font-size:14px;
  }
  .el-radio{
    margin-left:0;
  }
}
[data-form-tag]{
  flex:1;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  position:relative;
  .is-error input{
    border-color:#fa5555
  }
  .date-select{
    margin-left:5px;
  }
}
[data-form-tag="date"]{
  .input-date{
    margin-right:10px;
  }
}
[data-form-tag="multi-line"] {
  align-items: flex-start;
  [data-form-label]{
    align-self: flex-start;
  }
  .el-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    max-width:900px;
    .el-checkbox {
      width: 25%;
      min-width:190px;
      margin: 0;
      padding: 0;
      &:nth-child(3) {
        width: 50%;
      }
    }
  }
  &.form-mix > div{
    display:flex;
    flex-wrap:wrap
    &:first-child{
      margin-bottom:15px;
    }
  }
  &.two-way{
    flex-direction: column;
    [data-tag-multi]{
      &:first-child{
        padding-bottom:10px;
      }
    }
  }
}
[data-form-tag="replace"]{
  flex-wrap:nowrap;
  .el-input{
    margin-right:10px;
  }
}
[data-form-tag="button"]{
  flex:1;
  min-width:300px;
  .up-down{
    display:flex;
    flex-direction: column;
    margin-left:5px;
    button{
      margin:0;
      padding: 1px 15px;
    }
  }
  .el-input{
    max-width:80%;
  }
}
[data-required-msg]{
  position:absolute;
  top:100%;
  padding-top:2px;
  font-size:12px;
  line-height:1;
  color:#fa5555;
}
[data-range]{
  position:absolute;
  top:-25px;
  left:0;
  display:flex;
  span{
    display:flex;
  }
}
[data-input]{
  .el-checkbox{
    margin-left:10px;
  }
}
[data-detail-input]{
  position:absolute;
  right:0;
  z-index: 1;
  width:386px;
  padding:15px;
  background-color:#fff;
  border-radius:5px;
  border:1px solid color(border);
}
[data-search-submit]{
  display:flex;
  align-items: flex-end;
  margin-left:20px;
  padding-bottom:20px;
}
[data-system-form]{

}
[data-form-label="required"]{
 &:before{
   content:"*";
   color:#fa5555;
   margin-right:4px;
 }
}

[data-form-setup]{
  display:flex;
  justify-content: space-between;
  font-size:14px;
}
[data-setup-item]{
  position:relative;
  padding:45px 0 20px;
  fieldset{
    padding:20px;
    border:1px solid color(border)
  }
}
[data-item-title]{
  position:absolute;
  margin-bottom:0;
  font-size:16px;
}
[data-form-button]{
  display:flex;
  justify-content: flex-end;
}

// window popup
[data-window]{
  flex:1;
  padding:20px 15px;
  h1{
    margin-bottom:15px;
    height:30px;
    line-height:30px;
  }
  > div{
    border:1px solid color(border);
    overflow-y:auto;
  }
  //[data-popup-content]{
  //  display:flex;
  //  flex-direction: column;
  //  flex:1;
  //  padding:0 15px;
  //}
  [data-close]{
    text-align:center;
  }
  [data-table="table"] {
    margin-bottom:20px;
    border-top:3px solid color(default);
    tr{
      border-bottom:1px solid #999;
    }
    th{
      width:200px;
      background-color: color(border);
      border-right:1px solid;
    }
    th,td{
      height:auto;
      padding:10px;
      line-height:normal;
      white-space: pre-wrap;
    }
  }
  [data-none]{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  [data-popup-content]{
    padding:10px;
  }
  [data-popup-section]{
    margin-bottom:25px;
  }
  [data-popup-section="virus-total"]{
    display:flex;
    padding:15px 15px 15px 130px;
    justify-content: space-between;
    align-items: flex-end;
    border:1px solid color(border);
    dl{
      display:flex;
      margin:0;
    }
    dt{
      width:90px;
      font-weight:bold;
    }
    dd{
      margin:0;
      word-break: break-all;
      white-space: normal;
    }
    .el-button{
      width:130px;
      padding:7px 10px;
      font-size:12px;
    }
  }
}
