// layout
// #app
[data-app] {
  display: flex;
  height:100vh;
  min-height: 100vh;
  overflow:hidden;
}

// index wrap
[data-index] {
  display: flex;
  flex: 1;
  flex-direction: column;
  &[data-index="index"] {
    justify-content: center;
    align-items: center
  }
}

[data-index="Redstone"] {
  &.ready {
    visibility: hidden;
  }
}

[data-layout="Header"] {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 5px 0 0;
  border-top: 1px solid color(default);
  border-bottom: 1px solid color(default)
}

[data-layout="container"] {
  display: flex;
  height: calc(100vh - 50px);
}

[data-layout="Aside"] {
  position: relative;
  display: flex;
  width: 45px;
  transition: all 0.3s ease;
  &.active {
    width: 370px;
  }
}

[data-layout="Navigation"] {
  position: relative;
  z-index: 3;
  width: 45px;
  min-width: 45px;
  background-color: color(default);
}

[data-layout="Group"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f7fa;
  overflow-y: auto;
  .wrap {
    position: relative;
    flex: 1;
    width: 325px;
  }
}

[data-layout="Route-view"] {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px grey inset;
  overflow-y: auto
}

[data-layout="Route-article"] {
  width: 100%;
  //min-width: 1600px;
  max-width: 1600px;
  padding: 25px 15px;
  position: relative;
}

[data-page-title] {
  margin-bottom: 15px;
  display: inline-block;
  padding: 3px 5px;
  font-size: 18px;
  border-bottom: 2px solid color(highlight-color)
}
