// common
.el-table thead {
  color: color(default)
}

.el-table {
  font-size: 12px;
  th,
  td {
    padding: 2px 0;
  }
}

.el-button--mini,
.el-button--mini.is-round {
  padding: 3px 7px;
}

.el-button+.el-button {
  margin-left: 3px;
}

// target
.group {
  // input
  .el-input__inner {
    color: color(default);
    background-color: color(group);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-radius: 0;
  } // tree
  .el-tree {
    >.el-tree-node.is-expanded>.el-tree-node__children {
      max-height: 292px;
      overflow-y: auto;
    }
  }
  .el-table {
    max-height: 390px
  }
  .template-modal-container {
    .el-tree {
      >.el-tree-node.is-expanded>.el-tree-node__children {
        max-height: 426px;
      }
    }
    .el-table {
      max-height: 459px
    }
    .el-table__body-wrapper {
      height: 409px !important;
    }
  }
  .el-tree-node__content {
    height: 32px;
  } // table
  .el-table th.is-leaf {
    border-bottom: 1px solid color(border)
  }
  .el-table td {
    padding: 5px 0;
  } // icon
  .fa-fw {
    margin-right: 3px;
    font-size: 10px;
    vertical-align: 2px;
  }
}

// picker
.el-date-editor .el-range-separator {
  min-width: 40px;
}

.el-date-editor--datetimerange.el-input,
.el-date-editor--datetimerange.el-input__inner {
  width: 420px;
}

// form
.el-form-item {
  &.none-label {
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }
  &.multiline {
    >.el-form-item__content {
      flex-direction: column;
    }
    .el-form-item {
      display: flex;
      align-items: center;
      >.el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }
  &.analysis-check{
    > .el-form-item__content{
      width:1000px;
      >.el-checkbox{
        width:10%;
      }
      >.el-checkbox-group{
        display:flex;
        flex-wrap:wrap;
        width:900px;
        > .el-checkbox{
          width:25%;
        }
      }
    }

  }
}


.form-item-wrap {
  .el-form-item__content {
    display: flex;
  }
}

// tabs
.el-tabs__content {
  overflow: visible;
}

// table - resultview
[data-enviroment-item] {
  .el-table__header,
  .el-table__body {
    width: 100% !important;
    table-layout: fixed;
  }
  [data-form-item]{
    .el-select{
      width:100%;
    }
  }
}

.el-pagination{
  display:flex;
  justify-content: flex-end;
}
