.md-body-1,
body {
  font-size: 12px;
}

.md-theme-default a:not(.md-button) {
  color: inherit
}

a:not(.md-button):not(.md-bottom-bar-item):hover {
  text-decoration: none;
}

ul:not(.md-list)>li+li {
  margin: 0;
}
